# Block folders that MCP generates 
bin/
jars/
logs/
reobf/
temp/
docs/
conf/
runtime/
cleanup.bat
decompile.bat
recompile.bat
reobfuscate.bat
startclient.bat
startserver.bat
updatemcp.bat
updatemd5.bat
updatenames.bat
src/minecraft/net/minecraft/src
src/minecraft_server/net/minecraft/src
eclipse/\.metadata/
eclipse/\.recommenders/
eclipse/Client/bin/
eclipse/Server/bin/
eclipse/TestJarMod/bin/
eclipse/OldLogoMod/bin/
eclipse/InGameTexturePacks/bin/
eclipse/AlphaDimension/bin/

# Block StationLoader tests
tests/

